{% extends 'base.html' %} 

{% block content %}
  {% if messages %}
    {% for message in messages %}
      {{message}}
    {% endfor %}
  {% endif %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-8">
        <form class="form-inline" name="pdfgenerate" action="{% url 'pdf-report' %}" enctype = "multipart/form-data" method = "POST"> {% csrf_token %}
          <input type="file" id="fileupload" name="filename">
           <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-4">
          <input type="submit" class="btn btn-primary float-right" value = "Scrap Data" data-toggle="collapse" data-target="#crashreport" /> 
      </div>
    </div>
  </div>

  <div class="container-fluid">

      <table id="dt-table" class="table table-striped table-bordered table-hover table-responsive ">
        <thead class="table thead-dark"> 
          <tr>
            <th>Crash Report Case No</th>
            <th>Local Case No</th>
            <th>Date</th>
            <th>Time</th>
            <th>Day of Week</th>
            <th>County</th>
            <th>City</th>
            <th>Rural </th>
            <th>Drivers_full_name_Street_Address_City_and_State </th>
            <th>Zipcode</th>
            <th>Telephone</th>
            <th>DOB</th>
            <th>Race</th>
            <th>Sex</th>
            <th>DL State:</th>
            <th>Driving License No</th>
            <th>Attached File</th>
          </tr>
        </thead>
        <tbody>
          {% for x in queryset %}
          <tr>
            <td>{{x.crash_report_case_no}}</td>
            <td>{{x.local_case_no}}</td>
            <td>{{x.date}}</td>
            <td>{{x.time}}</td>
            <td>{{x.day_of_week}}</td>
            <td>{{x.county}}</td>
            <td>{{x.city}}</td>
            <td>{{x.rural}}</td>
            <td>{{x.Drivers_full_name_Street_Address_City_and_State}}</td>
            <td>{{x.zipcode}}</td>
            <td>{{x.telephone}}</td>
            <td>{{x.dob}}</td>
            <td>{{x.race}}</td>
            <td>{{x.sex}}</td>
            <td>{{x.dL_state}}</td>
            <td>{{x.driving_license_no}}</td>
            <td><a href="{{ MEDIA_URL }} {{ file_attached }}" target="_blank">{{x.file_attached}}</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>

{% endblock %}

