 
{% extends 'base.html' %} 
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <form class="form-inline" name="automator" enctype = "multipart/form-data" method = "POST"> {% csrf_token %}
        <label for="cr_number" class="form-label">Crash Report Number: </label> &nbsp;&nbsp;&nbsp;
        <input id="cr_number" name="cr_number" class="form-control" type="text" /> &nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">Request Report</button>
      </form>
    </div>
    <div class="col-4">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <table class="table table-bordered table-striped table-hover">
        <thead style="background-color: grey; color: ghostwhite;">
          <td> Crash Number</td>
          <td> Report Type</td>
          <td> Crash Date</td>
          <td> Name</td>
          <td> County</td>
          <td> Search Date</td>
        </thead>
        <tbody>
          {% for x in reports %}
          <tr>
            <td>
              {{ x.crash_report_num }}
            </td>
            <td>
              {{ x.search_result }}
            </td>
            <td>
              {{ x.crash_date }}
            </td>
            <td>
              {{ x.driver_name }}
            </td>
            <td>
              {{ x.county }}
            </td>
            <td>
              {{ x.search_date }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}